<h2>Listado de Servicios</h2>

<table class=" tabla datatable display">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Abreviación</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.abbreviation %></td>
        <td>
          <%= link_to((fa_icon "eye"), service) %>
          <%= link_to((fa_icon "pencil"), edit_service_path(service)) %>
          <%= link_to((fa_icon "trash-o"), service, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' }) %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.planification? or current_user.admin?%>
  <%= link_to 'Crear Servicio', new_service_path, class: 'btn btn-primary btn-xs' %>
<% end %>

