<p id="notice"><%= notice %></p>

<h1>Services</h1>

<table class=" tabla datatable">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Abreviación</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td><%= service.name %></td>
        <td><%= service.abbreviation %></td>
        <td><%= link_to 'Show', service %><%= link_to 'Edit', edit_service_path(service) %><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.planification? or current_user.admin?%>
  <%= link_to 'Crear Servicio', new_service_path, class: 'btn btn-primary btn-xs' %>
<% end %>

