<p id="notice"><%= notice %></p>

<h1>Addiotionals</h1>

<table>
  <thead>
    <tr>
      <th>Agent</th>
      <th>Year</th>
      <th>Month</th>
      <th>Description</th>
      <th>Fm</th>
      <th>Tnf</th>
      <th>Tt</th>
      <th>Rotative turn</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addiotionals.each do |addiotional| %>
      <tr>
        <td><%= addiotional.agent %></td>
        <td><%= addiotional.year %></td>
        <td><%= addiotional.month %></td>
        <td><%= addiotional.description %></td>
        <td><%= addiotional.fm %></td>
        <td><%= addiotional.tnf %></td>
        <td><%= addiotional.tt %></td>
        <td><%= addiotional.rotative_turn %></td>
        <td><%= link_to 'Show', addiotional %></td>
        <td><%= link_to 'Edit', edit_addiotional_path(addiotional) %></td>
        <td><%= link_to 'Destroy', addiotional, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Addiotional', new_addiotional_path %>
