<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @addiotional.agent %>
</p>

<p>
  <strong>Year:</strong>
  <%= @addiotional.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @addiotional.month %>
</p>

<p>
  <strong>Description:</strong>
  <%= @addiotional.description %>
</p>

<p>
  <strong>Fm:</strong>
  <%= @addiotional.fm %>
</p>

<p>
  <strong>Tnf:</strong>
  <%= @addiotional.tnf %>
</p>

<p>
  <strong>Tt:</strong>
  <%= @addiotional.tt %>
</p>

<p>
  <strong>Rotative turn:</strong>
  <%= @addiotional.rotative_turn %>
</p>

<%= link_to 'Edit', edit_addiotional_path(@addiotional) %> |
<%= link_to 'Back', addiotionals_path %>
