<div class="nested-fields row">
  <div class="col-sm-4">
    <%= link_to_remove_association (fa_icon "window-close", class: "btn-remove"), f %>
    <div class="field" style ="margin-left: 35px;">
      <%= f.collection_select :agent_id, @agents, :id, :to_s, {prompt: "Agente del Servicio"}, {class: "select2 select-field agent"} %>
    </div>
  </div>

  
  <div class="col-sm-3">
    <div class="field">
      <%= f.collection_select :observation_description_id, ObservationDescription.all, :id, :to_s, {prompt: "Tipo de Observación"}, {class: "select2"} %>
    </div>
  </div>  

  
  <div class="input-group date datepicker col-sm-3">
      <%= f.text_field :date_from, placeholder: "Fecha de Inicio", class: "form-control" %>
      <span class="input-group-addon ">
        <%= fa_icon "list"%>
      </span>
  </div>
  

  <div class="col-sm-2">
    <div class="field">
      <%= f.number_field :total_days, :maxlength => "2", :min => "0", :max => "31", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :style=>"width: 100%;", :placeholder => "Cantidad Días", class: "number-field"%>
    </div>
  </div>

  

  <div class="col-sm-12">
    <div class="field">
      <%= f.text_area :description, rows: 1, :style=>"width: 100%;font-size: 0.8rem;max-height: 28px;", :placeholder => "Descripción"%>
    </div>
  </div>
  <div class="col-md-12 col-last"></div>
</div>


<script>
  function maxLengthCheck(object) {
    
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
    
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    if (key != 8 && key != 9 && key != 116){
      key = String.fromCharCode (key);
      var regex = /[0-9]|\./;
      if ( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
      }else{
        
      }
    } 
  }

  
  function calcular_total_horas() {
    console.log("Calculando Horas");
    total = 0
    $(".day_of_month").each(
      function(index, value) {
        if (!isNaN(eval($(this).val()))){
          total = total + eval($(this).val());  
        }
      }
    );
    console.log(total);
    $("#agent_total_hours").val(total);
  }
</script>