<p>
  <strong>Año:</strong>
  <%= @observation.year %>
</p>

<p>
  <strong>Mes</strong>
  <%= @observation.month %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @observation.service_of_dependence.service %>
</p>

<%= link_to 'Edit', edit_observation_path(@observation) %> |
<%= link_to 'Back', novelties_path %>
