<%= form_for(additional) do |f| %>
  <% if additional.errors.any? %>
      <script type="text/javascript">
        <% additional.errors.full_messages.each do |message| %>
          toastr['error']('<%= message %>');
        <% end %>
      </script>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-2">
      <h6>Año</h6>
    </div>
    <div class="col-sm-2">
      <h6>Mes</h6>
    </div>
    <div class="col-sm-8">
      <h6>Servicio</h6>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :year, (2017)..(2019), {prompt: "Año"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :month, (1)..(12), {prompt: "Mes"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-8">
      <%= f.collection_select :service_of_dependence_id, @services_of_dependence, :id, :to_s, {prompt: "Servicio"}, {class: "select2"} %>
    </div>
  </div>
  <h5>Adicionales</h5>

  <div class="additional-box">
    <%= f.fields_for :additional_details do |additional_detail| %>
      <%= render 'additional_detail_fields', :f => additional_detail %>
    <% end %>
  </div>

  <center>
    <%= link_to_add_association 'Agregar Agente', f, :additional_details, id: 'add_additional_details', class: 'btn btn-primary btn-xs btn-sm', data: { association_insertion_node: '.additional-box', association_insertion_method: :append } %>
  </center>
  <div class="row">
    <div class="col-md-12 col-last-solid" style="margin-bottom: 1.5rem; margin-top:0.4rem;border-color: blue;"></div>  
  </div>
  <div class="form-actions">
    <%= link_to 'Atrás', additionals_path, class: 'btn btn-danger' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>