<%= form_with(model: position, local: true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :grouping %>
    <%= form.text_field :grouping, id: :position_grouping %>
  </div>

  <div class="field">
    <%= form.label :class %>
    <%= form.text_field :class, id: :position_class %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade, id: :position_grade %>
  </div>

  <div class="field">
    <%= form.label :hierarchy %>
    <%= form.text_field :hierarchy, id: :position_hierarchy %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
