<p id="notice"><%= notice %></p>

<h1>Positions</h1>

<table class="datatable">
  <thead>
    <tr>
      <th>Grupo</th>
      <th>Clase</th>
      <th>Grado</th>
      <th>Jerarquía</th>
      <th>Categoría</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.grouping %></td>
        <td><%= position.clase %></td>
        <td><%= position.grade %></td>
        <td><%= position.hierarchy %></td>
        <td><%= position.category %></td>
        <td><%= link_to 'Show', position %>
        <%= link_to 'Edit', edit_position_path(position) %>
        <%= link_to 'Destroy', position, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path %>
