<h2>Editar Usuario</h2>

<div class="col-sm-4">  
  <div class="outline">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label "Usuario (e-mail)" %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label "Contraseña" %> <i>(Deje en blanco si no desea cambiarla)</i><br />
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> caracteres minimo</em>
        <% end %>
      </div>

      <div class="form-group">
        <%= f.label "Confirmar Contraseña" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.label "Contraseña Actual" %> <i>(necesaria para actualizar datos)</i><br />
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="form-group">
        <%= f.submit "Update" %>
      </div>
    <% end %>

    <p>¿No esta felíz? <%= button_to "Cancelar my cuenta", registration_path(resource_name), data: { confirm: "¿Esta seguro?" }, method: :delete %></p>

    <%= link_to "Back", :back %>
  </div>
</div>