<%= form_for(office_hour) do |f| %>
  <% if office_hour.errors.any? %>
      <script type="text/javascript">
        <% office_hour.errors.full_messages.each do |message| %>
          toastr['error']('<%= message %>');
        <% end %>
      </script>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-2">
      <h6>Año</h6>
    </div>
    <div class="col-sm-2">
      <h6>Mes</h6>
    </div>
    <div class="col-sm-6">
      <h6>Servicio</h6>
    </div>
    <div class="col-sm-2">
      <h6>Total de Hs.</h6>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :year, (2017)..(2019), {prompt: "Año"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :month, (1)..(12), {prompt: "Mes"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-6">
      <%= f.collection_select :service_of_dependence_id, @services_of_dependence, :id, :to_s, {prompt: "Servicio"}, {class: "select2"} %>
    </div>
    <div class="col-md-2">
      <%= f.number_field :total_hours, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :style=>"min-height:38px;max-width:100%;", :placeholder => "0", class: "number-field"%>
    
    </div>

  </div>
  <h5>Horas Consultorios</h5>

  <div class="office_hour-box">
    <%= f.fields_for :office_hour_details do |office_hour_detail| %>
      <%= render 'office_hour_detail_fields', :f => office_hour_detail %>
    <% end %>
  </div>

  <center>
    <%= link_to_add_association 'Agregar Agentes', f, :office_hour_details, id: 'add_office_hour_details', class: 'btn btn-primary btn-xs btn-sm', data: { association_insertion_node: '.office_hour-box', association_insertion_method: :append } %>
  </center>
  <div class="row">
    <div class="col-md-12 col-last-solid" style="margin-bottom: 1.5rem; margin-top:0.4rem;border-color: blue;"></div>  
  </div>
  <div class="form-actions">
    <%= link_to 'Atrás', office_hours_path, class: 'btn btn-danger' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  function maxLengthCheck(object) {
    
    if (object.value.length > object.maxLength){
      object.value = object.value.slice(0, object.maxLength);
    }
    calcular_total_horas_semana(object);
  }
    
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    if (key != 8 && key != 9 && key != 116){
      key = String.fromCharCode (key);
      var regex = /[0-9]|\./;
      if ( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
      }else{
        
      }
    } 
  }

  
  function calcular_total_horas_semana(object) {
    
    total_field = 0
    year = $("#office_hour_year").val();
    month = $("#office_hour_month").val();
    
    lunes = $('#'+object.id).closest('.nested-fields').find('.lun').val() * count_days(year, month, 1)
    martes = $('#'+object.id).closest('.nested-fields').find('.mar').val() * count_days(year, month, 2)
    miercoles = $('#'+object.id).closest('.nested-fields').find('.mie').val() * count_days(year, month, 3)
    jueves = $('#'+object.id).closest('.nested-fields').find('.jue').val() * count_days(year, month, 4)
    viernes = $('#'+object.id).closest('.nested-fields').find('.vie').val() * count_days(year, month, 5)
    sabado = $('#'+object.id).closest('.nested-fields').find('.sab').val() * count_days(year, month, 6)

    total_field = lunes + martes + miercoles + jueves + viernes + sabado;

    $('#'+object.id).closest('.nested-fields').find('.total_week_hours').val(total_field);
    
    total = 0;

    $(".nested-fields").each(
      function(index, value) {
        week = parseInt($(this).find('.total_week_hours').val());
        rest = parseInt($(this).find('.rest_hours_agent').val());
        if (isNaN(rest))
        {
          rest = 0;
        }
        console.log (week);
        console.log (rest);
        total = total + week + rest;
        console.log (total);
      }
    );

    /*$(".rest_hours_agent").each(
      function(index, value) {
        if (!isNaN(eval($(this).val()))){
          total = total + eval($(this).val());  
        }
      }
    );*/

    $('#office_hour_total_hours').val(total);
  }


  function count_days(year, month, number_day) {

    var day, counter, date;

    day = 1;
    month = month - 1;
    counter = 0;
    date = new Date(year, month, day);
    while (date.getMonth() === month) {
        if (date.getDay() === number_day) { // Sun=0, Mon=1, Tue=2, etc.
            counter += 1;
        }
        day += 1;
        date = new Date(year, month, day);
    }
    return counter;
  }


</script>
