<h1>Horas Consultorio</h1>

<table class="datatable">
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Service of dependence</th>
      <th>Total hours</th>
      <th>Operaciones</th>
    </tr>
  </thead>

  <tbody>
    <% @office_hours.each do |office_hour| %>
      <tr>
        <td><%= office_hour.year %></td>
        <td><%= office_hour.month %></td>
        <td><%= office_hour.service_of_dependence %></td>
        <td><%= office_hour.total_hours %></td>
        <td>
          <%= link_to (fa_icon "eye"), office_hour%>
          <%= link_to (fa_icon "pencil-square-o"), edit_office_hour_path(office_hour)%>
          <%= link_to (fa_icon "trash-o"), office_hour, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Registrar hs. Consultorio', new_office_hour_path, class: 'btn btn-primary btn-xs' %>
