<p id="notice"><%= notice %></p>

<h1>Office Hours</h1>

<table class="datatable">
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Service of dependence</th>
      <th>Total hours</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @office_hours.each do |office_hour| %>
      <tr>
        <td><%= office_hour.year %></td>
        <td><%= office_hour.month %></td>
        <td><%= office_hour.service_of_dependence %></td>
        <td><%= office_hour.total_hours %></td>
        <td><%= office_hour.description %></td>
        <td><%= link_to 'Show', office_hour %>
        <%= link_to 'Edit', edit_office_hour_path(office_hour) %>
        <%= link_to 'Destroy', office_hour, method: :delete, data: { confirm: 'Esta seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office Hour', new_office_hour_path %>
