<p id="notice"><%= notice %></p>




<h1>Feriados</h1>
<div class="row justify-content-md-center">
  <div class="col-md-12">
    <%= render 'form', free_day: @free_day %>
    <br>
    <br>
  </div>
  
  <div class="col-md-10 outline">
    <table class="datatable">
      <thead>
        <tr>
          <th>Día</th>
          <th>Descripción</th>
          <th>Tipo</th>
          <th>Opciones</th>
        </tr>
      </thead>

      <tbody id="add-users">
        <% @free_days.each do |free_day| %>
          <tr>
            <td><%= free_day.day %></td>
            <td><%= free_day.description %></td>
            <td><%= free_day.scope %></td>
            <td>
              <%= link_to (fa_icon "eye"), free_day, class: 'btn btn-table btn-success' %>
              <%= link_to (fa_icon "pencil-square-o"), edit_free_day_path(free_day), class: 'btn btn-table btn-warning' %>
              <%= link_to (fa_icon "trash-o"), free_day, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }, class: 'btn btn-table btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
