<% if current_user.admin? %>
  <h2>Servicios del <%= current_user.dependence %></h2>
<% else %>
  <h2>Servicios del <%= current_user.dependence %></h2>
<% end %>
<div class="row">
<% @services_of_dependences.each do |sod| %>
  <div  class="col-sm-4">
    <% if current_user.admin? %>
      <h5 style="text-align: center;"><%= sod.to_s_id%></h5>
    <% else %>
      <h5 style="text-align: center;"><%= sod.service %></h5>
    <% end %>
    <h6 style="text-align: center;">Total de Agentes: <%= sod.agent_of_services.length %></h6>
    <table class="table">
      <tbody style="display:block;height: 300px;overflow-y: auto;overflow-x: hidden;">
        <% sod.agent_of_services.each do |aos| %>
          <tr>
            <td style="text-align: left;"><%= link_to((fa_icon "pencil"), edit_agent_of_service_path(aos)) %><%= aos.agent %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <br><br>
  </div>
<% end %>
</div>
