<%= form_with(model: days_of_report_detail, local: true) do |form| %>
  <% if days_of_report_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(days_of_report_detail.errors.count, "error") %> prohibited this days_of_report_detail from being saved:</h2>

      <ul>
      <% days_of_report_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :report_details_id %>
    <%= form.text_field :report_details_id, id: :days_of_report_detail_report_details_id %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.number_field :day, id: :days_of_report_detail_day %>
  </div>

  <div class="field">
    <%= form.label :cant %>
    <%= form.number_field :cant, id: :days_of_report_detail_cant %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
