<%= form_with(model: monthly_for_guard_hour, local: true) do |form| %>
  <% if monthly_for_guard_hour.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(monthly_for_guard_hour.errors.count, "error") %> prohibited this monthly_for_guard_hour from being saved:</h2>

      <ul>
      <% monthly_for_guard_hour.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-5">
      <div class="field">
        <%= form.collection_select :agent_id, @agents, :id, :to_s, {prompt: "Agente del Servicio"}, {class: "select2 select-field agent"} %>
      </div>

      <div class="field">
        <%= form.number_field :hs_semana, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :style=>"width: 100%;", :placeholder => "hs semana"%>
      </div>

      <div class="field">
        <%= form.number_field :gs_semana, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :style=>"width: 100%;", :placeholder => "gs semana"%>
      </div>

      <div class="field">
        <%= form.number_field :hs_sabado, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :style=>"width: 100%;", :placeholder => "hs sabado"%>
      </div>

      <div class="field">
        <%= form.number_field :hs_domingo, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :style=>"width: 100%;", :placeholder => "hs domingo"%>
      </div>

      <div class="field">
        <%= form.collection_select :concept_1_id, Concept.all, :id, :to_s, {prompt: "Tipo de Hs guaridia"}, {class: "select2 select-field agent"} %>
      </div>

      <div class="field">
        <%= form.number_field :hs_total_1, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :style=>"width: 100%;", :placeholder => "Hs Guarias"%>
      </div>

      <div class="field">
        <%= form.collection_select :concept_1_id, Concept.all, :id, :to_s, {prompt: "Tipo de Hs UMU"}, {class: "select2 select-field agent"} %>
      </div>

      <div class="field">
        <%= form.number_field :hs_total_2, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :style=>"width: 100%;", :placeholder => "Hs UMU"%>
      </div>
        

    </div>
  </div>
  
  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
