<p id="notice"><%= notice %></p>

<p>
  <strong>Agent:</strong>
  <%= @monthly_for_guard_hour.agent %>
</p>

<p>
  <strong>Hs semana:</strong>
  <%= @monthly_for_guard_hour.hs_semana %>
</p>

<p>
  <strong>Gs semana:</strong>
  <%= @monthly_for_guard_hour.gs_semana %>
</p>

<p>
  <strong>Hs sabado:</strong>
  <%= @monthly_for_guard_hour.hs_sabado %>
</p>

<p>
  <strong>Hs domingo:</strong>
  <%= @monthly_for_guard_hour.hs_domingo %>
</p>

<p>
  <strong>Concept 1:</strong>
  <%= @monthly_for_guard_hour.concept_1 %>
</p>

<p>
  <strong>Hs total 1:</strong>
  <%= @monthly_for_guard_hour.hs_total_1 %>
</p>

<p>
  <strong>Concept 2:</strong>
  <%= @monthly_for_guard_hour.concept_2 %>
</p>

<p>
  <strong>Hs total 2:</strong>
  <%= @monthly_for_guard_hour.hs_total_2 %>
</p>

<%= link_to 'Edit', edit_monthly_for_guard_hour_path(@monthly_for_guard_hour) %> |
<%= link_to 'Back', monthly_for_guard_hours_path %>
