<p id="notice"><%= notice %></p>

<p>
  <strong>Mes:</strong>
  <%= @percentage_month.mes %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @percentage_month.valor %>
</p>

<%= link_to 'Edit', edit_percentage_month_path(@percentage_month) %> |
<%= link_to 'Back', percentage_months_path %>
