<div class="row justify-content-around">
	<% if !user_signed_in? %>
	<div class="col-sm-4">	
		<div class="outline">
			<center><h2>Autenticación</h2></center>
			<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: "form" }) do |f| %>
				<center><img id="profile-img" class="login-img" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /></center>
				<div class="form-group">
            <%= f.text_field :email, :placeholder => "Email", class: "form-control" %> 
        </div>

		   	<div class="form-group">
          <%= f.password_field :password, :placeholder => "Password", class: "form-control"  %>
      	</div>
        <% if devise_mapping.rememberable? -%>
			    <div class="field">
			      <%= f.check_box :remember_me %>
			      <%= f.label 'recordarme' %>
			    </div>
			  <% end %>
			  <%= f.submit 'Entrar', class: "btn btn-primary btn-block btn-login" %>
			<% end %>
		</div>
	</div>
	<div class="col-sm-8">
		<center><h2>SISTEMA DE CONTROL DE GUARDIAS Y ADICIONALES</h2></center>
		<p>Bienvenido/a al Sistema de guardias para los agentes del Ministerio de Salud de la Provincia del Chubut, para poder acceder a las distintas funciones, debe ingresar su email y contraseña en el cuadro de Login. en caso de necesitar registrarse, contactarse con el área de Personal del Ministerio de Salud</p>
	</div>
	<% else %>
			<div class="col-sm-12">
				<h2>Panel de Funciones</h2>
				<div class="row">
		<% if @user.planification? or @user.admin? or @user.hospital?%>
				<div class="col-sm-3">
		    		<a href="/agent_of_services" class="btn btn-menu btn-primary">
		        		<i class="fa fa-stethoscope"></i>
		          		<span>Servicios</span>
		        	</a> 
			    </div>
				<div class="col-sm-3">
		    		<a href="/agents" class="btn btn-menu btn-primary">
		        		<i class="fa fa-user-md"></i>
		          		<span>Agentes</span>
		        	</a> 
			    </div>

		  		<div class="col-sm-3">
		    		<a href="/reports" class="btn btn-menu btn-primary">
			        	<i class="fa fa-ambulance"></i>
			          	<span>Reportes</span>
			        </a>
			    </div>
			    <div class="col-sm-3">
		    		<a href="#" class="btn btn-menu btn-primary">
			        	<i class="fa fa-eye"></i>
			          	<span>Observaciones</span>
			        </a>
			    </div>
			    <div class="col-sm-3">
		    		<a href="#" class="btn btn-menu btn-primary">
			        	<i class="fa fa-refresh"></i>
			          	<span>Novedades</span>
			        </a>
			    </div>
			    <div class="col-sm-3">
		    		<a href="#" class="btn btn-menu btn-primary">
			        	<i class="fa fa-dollar"></i>
			          	<span>Adicionales</span>
			        </a>
			    </div>
		<% end %>
		<% if @user.planification? or @user.admin?%>	    
			    <div class="col-sm-3">
		    		<a href="/free_days" class="btn btn-menu btn-primary">
		        		<i class="fa fa-calendar-check-o"></i>
		          		<span>Feriados</span>
		        		</a> 
			    </div>
			    <div class="col-sm-3">
		    		<a href="/services/new" class="btn btn-menu btn-primary">
		        		<i class="fa fa-medkit"></i>
		          		<span>Crear Servicios</span>
		        	</a>
			    </div>
			    <div class="col-sm-3">
		    		<a href="/services_of_dependence/" class="btn btn-menu btn-primary">
	        			<i class="fa fa-stethoscope"></i>
		          		<span>Asignar Servicios</span>
		        	</a>
			    </div>
			  </div>
		  </div>
		<% end %>
	<% end %>
</div>
