<h2>Listado de Agentes</h2>

<table class="table datatable display">
  <thead>
    <tr>
      <th>Dni</th>
      <th>Fullname</th>
      <th>Tipo</th>
      <% if current_user.planification? or current_user.admin?%>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @agents.each do |agent| %>
      <tr>
        <td><%= agent.dni %></td>
        <td><%= agent.fullname %></td>
        <td><%= agent.agent_type%></td>
        <% if current_user.planification? or current_user.admin?%>
        <td>
          <%= link_to((fa_icon "eye"), agent) %>
          <%= link_to((fa_icon "pencil"), edit_agent_path(agent)) %>
          <%= link_to((fa_icon "trash-o"), agent, method: :delete, data: { confirm: '¿Esta seguro que desea eliminar?' }) %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<% if current_user.planification? or current_user.admin?%>
  <%= link_to 'Crear Agente', new_agent_path, class: 'btn btn-primary btn-xs' %>
<% end %>


