<%= form_with(model: mpg_control_detail, local: true) do |form| %>
  <% if mpg_control_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mpg_control_detail.errors.count, "error") %> prohibited this mpg_control_detail from being saved:</h2>

      <ul>
      <% mpg_control_detail.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :mpg_control_id %>
    <%= form.text_field :mpg_control_id, id: :mpg_control_detail_mpg_control_id %>
  </div>

  <div class="field">
    <%= form.label :agent_id %>
    <%= form.text_field :agent_id, id: :mpg_control_detail_agent_id %>
  </div>

  <div class="field">
    <%= form.label :hs_guard %>
    <%= form.number_field :hs_guard, id: :mpg_control_detail_hs_guard %>
  </div>

  <div class="field">
    <%= form.label :hs_umu %>
    <%= form.number_field :hs_umu, id: :mpg_control_detail_hs_umu %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :mpg_control_detail_description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
