<%= form_for(mpg_control) do |f| %>
  <% if mpg_control.errors.any? %>
      <script type="text/javascript">
        <% mpg_control.errors.full_messages.each do |message| %>
          toastr['error']('<%= message %>');
        <% end %>
      </script>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-2">
      <h6>Año</h6>
    </div>
    <div class="col-sm-2">
      <h6>Mes</h6>
    </div>
    <div class="col-sm-8">
      <h6>Servicio</h6>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :year, (2017)..(2019), {prompt: "Año"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :month, (1)..(12), {prompt: "Mes"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-8">
      <%= f.collection_select :service_of_dependence_id, @services_of_dependence, :id, :to_s, {prompt: "Servicio"}, {class: "select2"} %>
    </div>
  </div>
  
<% end %>