<%= form_for(mpg_control) do |f| %>
  <% if mpg_control.errors.any? %>
    <script type="text/javascript">
      <% mpg_control.errors.full_messages.each do |message| %>
        toastr['error']('<%= message %>');
      <% end %>
    </script>
  <% end %>
  <div class="form-group row">
    <div class="col-sm-2">
      <h6>Año</h6>
    </div>
    <div class="col-sm-2">
      <h6>Mes</h6>
    </div>
    <div class="col-sm-8">
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :year, (2017)..(2019), {prompt: "Año"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :month, (1)..(12), {prompt: "Mes"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-8">
    
    </div>
  </div>
  <table class="table table-striped table-bordered table-list">
    <thead>
      <tr>
        <th>Agente</th>
        <th>Hs. Guardia</th>
        <th>Hs. Umu</th>
      </tr> 
    </thead>
    <tbody class="mpg_control_details">
      <%= f.fields_for :mpg_control_details do |mpg_control_detail| %>
        <%= render 'mpg_control_detail_fields', :f => mpg_control_detail %>
      <% end %>
    </tbody>
  </table>
  <div class="form-actions">
    <%= link_to 'Atrás', mpg_controls_path, class: 'btn btn-danger' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>