<h1>Verificar Hs. Asignadas</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mpg_controls.each do |mpg_control| %>
      <tr>
        <td><%= mpg_control.year %></td>
        <td><%= mpg_control.month %></td>
        <td>
          <%= link_to (fa_icon "eye"), mpg_control%>
          <%= link_to (fa_icon "pencil-square-o"), edit_mpg_control_path(mpg_control)%>
          <%= link_to (fa_icon "trash-o"), mpg_control, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.planification? or current_user.admin?%>      
  <%= link_to 'Modificar Cobertura', monthly_for_guard_hours_path, class: 'btn btn-primary btn-xs' %>
<% end %>
<%= link_to 'Verificar Horas', new_mpg_control_path, class: 'btn btn-primary btn-xs' %>
