<p id="notice"><%= notice %></p>

<h1>Mpg Controls</h1>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Service of dependence</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mpg_controls.each do |mpg_control| %>
      <tr>
        <td><%= mpg_control.year %></td>
        <td><%= mpg_control.month %></td>
        <td><%= mpg_control.service_of_dependence %></td>
        <td><%= link_to 'Show', mpg_control %></td>
        <td><%= link_to 'Edit', edit_mpg_control_path(mpg_control) %></td>
        <td><%= link_to 'Destroy', mpg_control, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mpg Control', new_mpg_control_path %>
