<h1>Control de Cupo</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th>Year</th>
      <th>Month</th>
      <th>Service of dependence</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mpg_controls.each do |mpg_control| %>
      <tr>
        <td><%= mpg_control.year %></td>
        <td><%= mpg_control.month %></td>
        <td><%= mpg_control.service_of_dependence %></td>
        <td>
          <%= link_to (fa_icon "eye"), mpg_control%>
          <%= link_to (fa_icon "pencil-square-o"), edit_mpg_control_path(mpg_control)%>
          <%= link_to (fa_icon "trash-o"), mpg_control, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?'} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear Control de Cupo', new_mpg_control_path, class: 'btn btn-primary btn-xs' %>
