<p>
  <strong>Year:</strong>
  <%= @mpg_control.year %>
</p>

<p>
  <strong>Month:</strong>
  <%= @mpg_control.month %>
</p>

<p>
  <strong>Service of dependence:</strong>
  <%= @mpg_control.service_of_dependence %>
</p>

<%= link_to 'Editar', edit_mpg_control_path(@mpg_control), class:"btn btn-primary" %>
<%= link_to 'volver', mpg_controls_path, class:"btn btn-danger" %>
