<h1>Servicios de las Dependencias</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th>Service</th>
      <th>Dependence</th>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @service_of_dependences.each do |service_of_dependence| %>
      <tr>
        <td><%= service_of_dependence.service %></td>
        <td><%= service_of_dependence.dependence %></td>
        <td><%= service_of_dependence.description %></td>
        <td><%= link_to 'Show', service_of_dependence %>
        <%= link_to 'Edit', edit_service_of_dependence_path(service_of_dependence) %>
        <%= link_to 'Destroy', service_of_dependence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Service Of Dependence', new_service_of_dependence_path %>
