<p id="notice"><%= notice %></p>

<h1>Observation Details</h1>

<table>
  <thead>
    <tr>
      <th>Observation</th>
      <th>Agent</th>
      <th>Observation description</th>
      <th>Date from</th>
      <th>Total days</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @observation_details.each do |observation_detail| %>
      <tr>
        <td><%= observation_detail.observation %></td>
        <td><%= observation_detail.agent %></td>
        <td><%= observation_detail.observation_description %></td>
        <td><%= observation_detail.date_from %></td>
        <td><%= observation_detail.total_days %></td>
        <td><%= observation_detail.description %></td>
        <td><%= link_to 'Show', observation_detail %></td>
        <td><%= link_to 'Edit', edit_observation_detail_path(observation_detail) %></td>
        <td><%= link_to 'Destroy', observation_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Observation Detail', new_observation_detail_path %>
