<p id="notice"><%= notice %></p>

<p>
  <strong>Observation:</strong>
  <%= @observation_detail.observation %>
</p>

<p>
  <strong>Agent:</strong>
  <%= @observation_detail.agent %>
</p>

<p>
  <strong>Observation description:</strong>
  <%= @observation_detail.observation_description %>
</p>

<p>
  <strong>Date from:</strong>
  <%= @observation_detail.date_from %>
</p>

<p>
  <strong>Total days:</strong>
  <%= @observation_detail.total_days %>
</p>

<p>
  <strong>Description:</strong>
  <%= @observation_detail.description %>
</p>

<%= link_to 'Edit', edit_observation_detail_path(@observation_detail) %> |
<%= link_to 'Back', observation_details_path %>
