<p id="notice"><%= notice %></p>

<h1>Cobertura</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th rowspan="2" class="">(Hospital) - Servicio</th>
      <th colspan="2" class="">Lunes</th>
      <th colspan="2" class="">Martes</th>
      <th colspan="2" class="">Miercoles</th>
      <th colspan="2" class="">Jueves</th>
      <th colspan="2" class="">Viernes</th>
      <th class="">Sabado</th>
      <th class="">Domingo</th>
      <th rowspan="2">Opciones</th>
    </tr>
    <tr>
      <th>hs</th>
      <th>gs</th>
      <th>hs</th>
      <th>gs</th>
      <th>hs</th>
      <th>gs</th>
      <th>hs</th>
      <th>gs</th>
      <th>hs</th>
      <th>gs</th>
      <th>hs</th>
      <th>hs</th>
      
    </tr>
  </thead>

  <tbody>
    <% @coverages.each do |coverage| %>
      <tr>
        <td><%= coverage.service_of_dependence %></td>
        <td><%= coverage.hs_lunes_diurnas %></td>
        <td><%= coverage.hs_lunes_nocturnas %></td>
        <td><%= coverage.hs_martes_diurnas %></td>
        <td><%= coverage.hs_martes_nocturnas %></td>
        <td><%= coverage.hs_miercoles_diurnas %></td>
        <td><%= coverage.hs_miercoles_nocturnas %></td>
        <td><%= coverage.hs_jueves_diurnas %></td>
        <td><%= coverage.hs_jueves_nocturnas %></td>
        <td><%= coverage.hs_viernes_diurnas %></td>
        <td><%= coverage.hs_viernes_nocturnas %></td>
        <td><%= coverage.hs_sabado %></td>
        <td><%= coverage.hs_domingo %></td>
        <td>
          <%= link_to 'Show', coverage %>
          <%= link_to 'Edit', edit_coverage_path(coverage) %>
          <%= link_to 'Destroy', coverage, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Cobertura', new_coverage_path, class: 'btn btn-primary' %>
