<p id="notice"><%= notice %></p>

<p>
  <strong>Service of dependence:</strong>
  <%= @coverage.service_of_dependence %>
</p>

<p>
  <strong>Hs lunes diurnas:</strong>
  <%= @coverage.hs_lunes_diurnas %>
</p>

<p>
  <strong>Hs lunes nocturnas:</strong>
  <%= @coverage.hs_lunes_nocturnas %>
</p>

<p>
  <strong>Hs martes diurnas:</strong>
  <%= @coverage.hs_martes_diurnas %>
</p>

<p>
  <strong>Hs martes nocturnas:</strong>
  <%= @coverage.hs_martes_nocturnas %>
</p>

<p>
  <strong>Hs miercoles diurnas:</strong>
  <%= @coverage.hs_miercoles_diurnas %>
</p>

<p>
  <strong>Hs miercoles nocturnas:</strong>
  <%= @coverage.hs_miercoles_nocturnas %>
</p>

<p>
  <strong>Hs jueves diurnas:</strong>
  <%= @coverage.hs_jueves_diurnas %>
</p>

<p>
  <strong>Hs jueves nocturnas:</strong>
  <%= @coverage.hs_jueves_nocturnas %>
</p>

<p>
  <strong>Hs viernes diurnas:</strong>
  <%= @coverage.hs_viernes_diurnas %>
</p>

<p>
  <strong>Hs viernes nocturnas:</strong>
  <%= @coverage.hs_viernes_nocturnas %>
</p>

<p>
  <strong>Hs sabado:</strong>
  <%= @coverage.hs_sabado %>
</p>

<p>
  <strong>Hs domingo:</strong>
  <%= @coverage.hs_domingo %>
</p>

<%= link_to 'Edit', edit_coverage_path(@coverage) %> |
<%= link_to 'Back', coverages_path %>
