<h1>Registro de Novedades</h1>

<table class="table datatable">
  <thead>
    <tr>
      <th>Año</th>
      <th>Mes</th>
      <th>Servicio</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @novelties.each do |novelty| %>
    <tr>
      <td><%= novelty.year %></td>
      <td><%= novelty.month %></td>
      <td><%= novelty.service_of_dependence %></td>
      <td>
        <%= link_to (fa_icon "eye"), novelty%>
        <%= link_to (fa_icon "pencil-square-o"), edit_novelty_path(novelty)%>
        <%= link_to (fa_icon "trash-o"), novelty, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }%>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Novedad', new_novelty_path %>
