<p>
  <strong>Año:</strong>
  <%= @novelty.year %>
</p>

<p>
  <strong>Mes</strong>
  <%= @novelty.month %>
</p>

<p>
  <strong>Servicio:</strong>
  <%= @novelty.service_of_dependence.service %>
</p>

<%= link_to 'Edit', edit_novelty_path(@novelty) %> |
<%= link_to 'Back', novelties_path %>
