<p id="notice"><%= notice %></p>

<h1>Report Details</h1>

<table>
  <thead>
    <tr>
      <th>Report</th>
      <th>Belong service</th>
      <th>Observation</th>
      <th>Total hours</th>
      <th>Tr</th>
      <th>Fm</th>
      <th>Tnf</th>
      <th>Tt</th>
      <th>Hours to add</th>
      <th>Hours to remove</th>
      <th>Total office hours</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @report_details.each do |report_detail| %>
      <tr>
        <td><%= report_detail.report %></td>
        <td><%= report_detail.belong_service %></td>
        <td><%= report_detail.observation %></td>
        <td><%= report_detail.total_hours %></td>
        <td><%= report_detail.tr %></td>
        <td><%= report_detail.fm %></td>
        <td><%= report_detail.tnf %></td>
        <td><%= report_detail.tt %></td>
        <td><%= report_detail.hours_to_add %></td>
        <td><%= report_detail.hours_to_remove %></td>
        <td><%= report_detail.total_office_hours %></td>
        <td><%= link_to 'Show', report_detail %></td>
        <td><%= link_to 'Edit', edit_report_detail_path(report_detail) %></td>
        <td><%= link_to 'Destroy', report_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report Detail', new_report_detail_path %>
