<h1>Detalles de Reporte</h1>

<table class="table">
  <thead>
    <tr>
      <th>Reporte</th>
      <th>Agente</th>
      <th>Del Servicio</th>
      <th>Total de Horas Gs</th>
      <th>Total de Horas UMU</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @report_details.each do |report_detail| %>
      <tr>
        <td><%= report_detail.report %></td>
        <td><%= report_detail.agent %></td>
        <td><%= report_detail.belong_service %></td>
        <td><%= report_detail.total_hours_gs %></td>
        <td><%= report_detail.total_hours_umu %></td>
        <td><%= link_to 'Show', report_detail %>
        <%= link_to 'Edit', edit_report_detail_path(report_detail) %>
        <%= link_to 'Destroy', report_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report Detail', new_report_detail_path %>
