<p id="notice"><%= notice %></p>

<p>
  <strong>Report:</strong>
  <%= @report_detail.report %>
</p>

<p>
  <strong>Belong service:</strong>
  <%= @report_detail.belong_service %>
</p>


<p>
  <strong>Total hours:</strong>
  <%= @report_detail.total_hours %>
</p>

<%= link_to 'Edit', edit_report_detail_path(@report_detail) %> |
<%= link_to 'Back', report_details_path %>
