<%= form_for(report) do |f| %>
  <h5>Datos Generales</h5>
  <% if report.errors.any? %>
      <script type="text/javascript">
        <% report.errors.full_messages.each do |message| %>
          toastr['error']('<%= message %>');
        <% end %>
      </script>
  <% end %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
  <div class="form-group row">
    <div class="col-sm-2">
      <h6>Año</h6>
    </div>
    <div class="col-sm-2">
      <h6>Mes</h6>
    </div>
    <div class="col-sm-8">
      <h6>Servicio</h6>
    </div>
    <!--div class="col-sm-2">
      <h6>Horas Consultorio</h6>
    </div-->
    <div class="input-group col-sm-2">
      <%= f.select :year, (2017)..(Time.zone.now.year), {prompt: "Año"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-2">
      <%= f.select :month, (1)..(12), {prompt: "Mes"}, {class: "select2"}%>
    </div>
    <div class="input-group col-sm-8">
      <%= f.collection_select :service_of_dependence_id, @services_of_dependence, :id, :to_s, {prompt: "Servicio"}, {class: "select2", id: "report_service"} %>
    </div>
    <!--div class="input-group col-sm-2">
      <%= f.text_field :total_office_hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)",:placeholder => "0", :oninput => "maxLengthCheck(this)", class: "office_hours" %>
    </div-->

  </div>
  <h5>Agentes</h5>

  <div class="agents-box">
    <%= f.fields_for :report_details do |report_detail| %>
      <%= render 'report_detail_fields', :f => report_detail %>
    <% end %>
  </div>
    
  <center>
    <%= link_to_add_association 'Agente del Servicio', f, :report_details, id: 'add_report_details', class: 'btn btn-primary btn-xs btn-sm', data: { association_insertion_node: '.agents-box', association_insertion_method: :append }, :render_options => {:locals => {:all_agents => false }} %>

    <%= link_to_add_association 'Agente Ajeno al Servicio', f, :report_details, id: 'add_report_details_all', class: 'btn btn-primary btn-xs btn-sm', data: { association_insertion_node: '.agents-box', association_insertion_method: :append }, :render_options => {:locals => {:all_agents => true }} %>
  </center>

  <div class="form-actions">
    <%= link_to 'Atrás', reports_path, class: 'btn btn-danger' %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>

<% end %>


<script>
  function maxLengthCheck(object) {
    
    if (object.value.length > object.maxLength)
      object.value = object.value.slice(0, object.maxLength)
  }
    
  function isNumeric (evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    if (key != 8 && key != 9 && key != 116){
      key = String.fromCharCode (key);
      var regex = /[0-9]|\./;
      if ( !regex.test(key) ) {
        theEvent.returnValue = false;
        if(theEvent.preventDefault) theEvent.preventDefault();
      }else{
        
      }
    } 
  }

  
  function calcular_total_horas() {
    console.log("Calculando Horas");
    total = 0
    $(".day_of_month").each(
      function(index, value) {
        if (!isNaN(eval($(this).val()))){
          total = total + eval($(this).val());  
        }
      }
    );
    console.log(total);
    $("#agent_total_hours").val(total);
  }
</script>