<div class="nested-fields row">
	
	<div class="col-md-4">
		<%= link_to_remove_association (fa_icon "window-close", class: "btn-remove"), f %>
		<h6>*Agente</h6>
	</div>
	<div class="col-md-4">
		<h6>Observación</h6>
	</div>
	<div class="col-md-1">
	</div>
	<div class="col-md-1">
	<h6>Hs. Guardia</h6>
	</div>
	<div class="col-md-1">
		<h6>Hs. UMU</h6>
	</div>

	<div class="col-md-4 col-border-right">
		<div class="field">
			<%= f.collection_select :agent_id, @agents, :id, :to_s, {prompt: "Agente"}, {class: "select2 select-field agent"} %>
		</div>
	</div>
	<% if f.object.observation.nil? %>
		<% f.object.build_observation%>
	<% end %>
	<%= f.fields_for :observation, f.object.observation do |fo| %>
	<div class="col-md-4">
		<div class="field">
			<%= fo.collection_select :observation_description_id, ObservationDescription.all,:id, :to_s ,{prompt: "Descripción"}, {class: "select2 select-field"} %>
		</div>
	</div>
	<div class="col-md-1 col-border-right">
		<div class="field">
			<%= fo.number_field :days, :style=>"max-width:100%;", :placeholder => "Días" %>
		</div>
	</div>
	<% end %>
	<div class="col-md-1">
		<%= f.number_field :total_hours, id: :agent_total_hours, :onkeypress => "event.preventDefault();", :placeholder => "Horas" , :class => "total_hours" %>
	</div>
	<div class="col-md-1">
		<%= f.number_field :total_hours, id: :agent_total_hours_umu, :onkeypress => "event.preventDefault();", :placeholder => "Hs. Umu" , :class => "total_hours" %>
	</div>
	<div class="col-md-12">
		<table class='table table-hours'>
  		<thead>
  			<tr>
  				<th colspan="31" class="">Cantidad de hs. Guardia por día</th>
  			</tr>
	      <tr>
	        <th id="day1-th" class="field-hours-th">1</th>
	        <th id="day2-th" class="field-hours-th">2</th>
	        <th id="day3-th" class="field-hours-th">3</th>
	        <th id="day4-th" class="field-hours-th">4</th>
	        <th id="day5-th" class="field-hours-th">5</th>
	        <th id="day6-th" class="field-hours-th">6</th>
	        <th id="day7-th" class="field-hours-th">7</th>
	        <th id="day8-th" class="field-hours-th">8</th>
	        <th id="day9-th" class="field-hours-th">9</th>
	        <th id="day10-th" class="field-hours-th">10</th>
	        <th id="day11-th" class="field-hours-th">11</th>
	        <th id="day12-th" class="field-hours-th">12</th>
	        <th id="day13-th" class="field-hours-th">13</th>
	        <th id="day14-th" class="field-hours-th">14</th>
	        <th id="day15-th" class="field-hours-th">15</th>
	        <th id="day16-th" class="field-hours-th">16</th>
	        <th id="day17-th" class="field-hours-th">17</th>
	        <th id="day18-th" class="field-hours-th">18</th>
	        <th id="day19-th" class="field-hours-th">19</th>
	        <th id="day20-th" class="field-hours-th">20</th>
	        <th id="day21-th" class="field-hours-th">21</th>
	        <th id="day22-th" class="field-hours-th">22</th>
	        <th id="day23-th" class="field-hours-th">23</th>
	        <th id="day24-th" class="field-hours-th">24</th>
	        <th id="day25-th" class="field-hours-th">25</th>
	        <th id="day26-th" class="field-hours-th">26</th>
	        <th id="day27-th" class="field-hours-th">27</th>
	        <th id="day28-th" class="field-hours-th">28</th>
	        <th id="day29-th" class="field-hours-th">29</th>
	        <th id="day30-th" class="field-hours-th">30</th>
	        <th id="day31-th" class="field-hours-th">31</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
	  				<% if f.object.day1.nil? %>
							<% f.object.build_day1%>
						<% end %>
						<%= f.fields_for :day1, f.object.day1 do |d1| %>
				    	<%= d1.number_field :hours, :id =>"day1_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    	<%= d1.hidden_field :is_umu, :value => false, :id => "day1_is_umu"%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				  	<% if f.object.day2.nil? %>
							<% f.object.build_day2%>
						<% end %>
						<%= f.fields_for :day2, f.object.day2 do |d2| %>
				    	<%= d2.number_field :hours, :id =>"day2_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    	<%= d2.hidden_field :is_umu, :value => false, :id => "day2_is_umu"%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				  	<% if f.object.day3.nil? %>
							<% f.object.build_day3%>
						<% end %>
				  	<%= f.fields_for :day3, f.object.day3 do |d3| %>
				    	<%= d3.number_field :hours, :id =>"day3_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    	<%= d3.hidden_field :is_umu, :value => false, :id => "day3_is_umu"%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day4.nil? %>
							<% f.object.build_day4%>
						<% end %>
						<%= f.fields_for :day4, f.object.day4 do |d4| %>
				    	<%= d4.number_field :hours, :id =>"day1_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    	<%= d4.hidden_field :is_umu, :value => false, :id => "day4_is_umu"%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day5.nil? %>
							<% f.object.build_day5%>
						<% end %>
						<%= f.fields_for :day5, f.object.day5 do |d5| %>
				    	<%= d5.number_field :hours, :id =>"day5_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    	<%= d5.hidden_field :is_umu, :value => false, :id => "day5_is_umu"%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day6.nil? %>
							<% f.object.build_day6%>
						<% end %>
						<%= f.fields_for :day6, f.object.day6 do |d6| %>
				    	<%= d6.number_field :hours, :id =>"day6_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    	<%= d6.hidden_field :is_umu, :value => false, :id => "day6_is_umu"%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				   	<% if f.object.day7.nil? %>
							<% f.object.build_day7%>
						<% end %>
						<%= f.fields_for :day7, f.object.day7 do |d7| %>
				    	<%= d7.number_field :hours, :id =>"day7_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    	<%= d7.hidden_field :is_umu, :value => false, :id => "day7_is_umu"%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day8.nil? %>
							<% f.object.build_day8%>
						<% end %>
						<%= f.fields_for :day8, f.object.day8 do |d8| %>
				    	<%= d8.number_field :hours, :id =>"day8_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
					  <% if f.object.day9.nil? %>
							<% f.object.build_day9%>
						<% end %>
						<%= f.fields_for :day9, f.object.day9 do |d9| %>
				    	<%= d9.number_field :hours, :id =>"day9_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day10.nil? %>
							<% f.object.build_day10%>
						<% end %>
						<%= f.fields_for :day10, f.object.day10 do |d10| %>
				    	<%= d10.number_field :hours, :id =>"day10_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day11.nil? %>
							<% f.object.build_day11%>
						<% end %>
						<%= f.fields_for :day11, f.object.day11 do |d11| %>
				    	<%= d11.number_field :hours, :id =>"day11_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day12.nil? %>
							<% f.object.build_day12%>
						<% end %>
						<%= f.fields_for :day12, f.object.day12 do |d12| %>
				    	<%= d12.number_field :hours, :id =>"day12_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day13.nil? %>
							<% f.object.build_day13%>
						<% end %>
						<%= f.fields_for :day13, f.object.day13 do |d13| %>
				    	<%= d13.number_field :hours, :id =>"day13_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day14.nil? %>
							<% f.object.build_day14%>
						<% end %>
						<%= f.fields_for :day14, f.object.day14 do |d14| %>
				    	<%= d14.number_field :hours, :id =>"day14_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day15.nil? %>
							<% f.object.build_day15%>
						<% end %>
						<%= f.fields_for :day15, f.object.day15 do |d15| %>
				    	<%= d15.number_field :hours, :id =>"day15_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day16.nil? %>
							<% f.object.build_day16%>
						<% end %>
						<%= f.fields_for :day16, f.object.day16 do |d16| %>
				    	<%= d16.number_field :hours, :id =>"day16_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day17.nil? %>
							<% f.object.build_day17%>
						<% end %>
						<%= f.fields_for :day17, f.object.day17 do |d17| %>
				    	<%= d17.number_field :hours, :id =>"day17_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day18.nil? %>
							<% f.object.build_day18%>
						<% end %>
						<%= f.fields_for :day18, f.object.day18 do |d18| %>
				    	<%= d18.number_field :hours, :id =>"day18_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day19.nil? %>
							<% f.object.build_day19%>
						<% end %>
						<%= f.fields_for :day19, f.object.day19 do |d19| %>
				    	<%= d19.number_field :hours, :id =>"day19_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day20.nil? %>
							<% f.object.build_day20%>
						<% end %>
						<%= f.fields_for :day20, f.object.day20 do |d20| %>
				    	<%= d20.number_field :hours, :id =>"day20_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day21.nil? %>
							<% f.object.build_day21%>
						<% end %>
						<%= f.fields_for :day21, f.object.day21 do |d21| %>
				    	<%= d21.number_field :hours, :id =>"day21_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day22.nil? %>
							<% f.object.build_day22%>
						<% end %>
						<%= f.fields_for :day22, f.object.day22 do |d22| %>
				    	<%= d22.number_field :hours, :id =>"day22_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day23.nil? %>
							<% f.object.build_day23%>
						<% end %>
						<%= f.fields_for :day23, f.object.day23 do |d23| %>
				    	<%= d23.number_field :hours, :id =>"day23_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day24.nil? %>
							<% f.object.build_day24%>
						<% end %>
						<%= f.fields_for :day24, f.object.day24 do |d24| %>
				    	<%= d24.number_field :hours, :id =>"day24_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day25.nil? %>
							<% f.object.build_day25%>
						<% end %>
						<%= f.fields_for :day25, f.object.day25 do |d25| %>
				    	<%= d25.number_field :hours, :id =>"day25_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day26.nil? %>
							<% f.object.build_day26%>
						<% end %>
						<%= f.fields_for :day26, f.object.day26 do |d26| %>
				    	<%= d26.number_field :hours, :id =>"day26_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day27.nil? %>
							<% f.object.build_day27%>
						<% end %>
						<%= f.fields_for :day27, f.object.day27 do |d27| %>
				    	<%= d27.number_field :hours, :id =>"day27_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day28.nil? %>
							<% f.object.build_day28%>
						<% end %>
						<%= f.fields_for :day28, f.object.day28 do |d28| %>
				    	<%= d28.number_field :hours, :id =>"day28_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day29.nil? %>
							<% f.object.build_day29%>
						<% end %>
						<%= f.fields_for :day29, f.object.day29 do |d29| %>
				    	<%= d29.number_field :hours, :id =>"day29_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month", :class => "day29" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day30.nil? %>
							<% f.object.build_day30%>
						<% end %>
						<%= f.fields_for :day30, f.object.day30 do |d30| %>
				    	<%= d30.number_field :hours, :id =>"day30_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month", :class => "day30" %>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day31.nil? %>
							<% f.object.build_day31%>
						<% end %>
						<%= f.fields_for :day31, f.object.day31 do |d31| %>
				    	<%= d31.number_field :hours, :id =>"day31_hours", :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month", :class => "day31" %>
				    <% end %>
				  </td>
				</tr>
			</tbody>
  	</table>
	</div>
	<div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="5" class="field-hours-th">Adicionales</th>
  			</tr>
	      <tr>
	        <th colspan="2" class="field-hours-th" style="font-size: 0.7rem;">Turno Rotativo</th>
	        <th rowspan="2" class="field-hours-th" style="font-size: 0.7rem;">Franco Movil</th>
	        <th rowspan="2" class="field-hours-th" style="font-size: 0.7rem;">Turno Noct. Fijo</th>
	        <th rowspan="2" class="field-hours-th" style="font-size: 0.7rem;">Tareas en Terreno</th>
	      </tr>
	      <tr>
	      	<th class="field-hours-th" style="font-size: 0.6rem;">Dias</th>
	      	<th class="field-hours-th" style="font-size: 0.6rem;">¿Rotación Completa?</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
	  				<% if f.object.rotative_turn.nil? %>
							<% f.object.build_rotative_turn%>
						<% end %>
						<%= f.fields_for :rotative_turn, f.object.rotative_turn do |rt| %>
				    	<%= rt.number_field :days, :maxlength => "3", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
    			<td class="field field-hours">
				    	<%= rt.check_box :is_complete%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <%= f.check_box :fm%>
				  </td>
				  <td class="field field-hours">
				    <%= f.check_box :tnf%>
				  </td>
				  <td class="field field-hours">
				    <%= f.check_box :tt%>
				  </td>
				</tr>
  		</tbody>
		</table>

	</div>
	<div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="4" class="field-hours-th">Novedades</th>
  			</tr>
	      <tr>
	        <th class="field-hours-th">Abonar</th>
        	<th class="field-hours-th">Descontar</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
				    <%= f.number_field :hours_to_add, id: :report_detail_hours_to_add, :maxlength => "3", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :hours_to_remove, id: :report_detail_hours_to_remove, :maxlength => "3", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				</tr>
  		</tbody>
		</table>
	</div>
	<!--div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="4" class="field-hours-th">Consultorio</th>
  			</tr>
	      <tr>
	        <th class="field-hours-th-description"><span>Total de horas que el agente realiza en el consultorio</span></th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
    				<%= f.number_field :total_office_hours, id: :report_detail_total_office_hours, :maxlength => "3", :min => "0", :max => "124", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
  				</td>
				</tr>
  		</tbody>
		</table>
	</div-->
	<div class="col-md-12 col-last">
	</div>
</div>

<script type="text/javascript">
	$(".day_of_month").keyup(function(){ 
    total = 0
    $(this).closest('.nested-fields').find('.day_of_month').each(function(){
      if ($(this).val() != ""){
        total = total + parseInt($(this).val());
      }
    });
    $(this).closest('.nested-fields').find('.total_hours').val(total);
  });

  $(".field-hours-th").click(function(){
  	var id_hours = "#day" + $(this).text() + "_hours"
  	var id_umu = "#day" + $(this).text() + "_is_umu"
  	$(id_umu).attr("value", true);
  	$(id_hours).addClass("isUmu");
    console.log(id_umu);
    
	});



</script>