<div class="nested-fields row">
	<div style="margin-left: 10px;margin-top: 5px;">
		<%= link_to_remove_association (fa_icon "window-close", class: "btn-remove"), f %>
	</div>
	<div class="col-md-4 col-border-right">
		<div class="field">
			<%= f.collection_select :agent_id, @agents, :id, :to_s, {prompt: "Agente"}, {class: "select2 select-field agent"} %>
		</div>
	</div>
	<div class="col-md-4">
		<div class="field">
			<%= f.collection_select :observation_id, Observation.all, :id, :to_s, {prompt: "Sin Observaciones"}, {:class => "select2 select-field"} %>
		</div>
	</div>
	<div class="col-md-1 col-border-right">
		<%= f.number_field :observation_hours, id: :agent_observation_hours, :maxlength => "3", :min => "0", :max => "999", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :placeholder => "Days"%>
	</div>
	<div class="col-md-2">
		<span style="float: left;margin-right: 10px;padding-top: 5px;}">Total Horas:  </span>
		<%= f.number_field :total_hours, id: :agent_total_hours, :onkeypress => "event.preventDefault();", :placeholder => "Horas" , :class => "total_hours" %>
	</div>
	<div class="col-md-12">
		<table class='table table-hours'>
  		<thead>
  			<tr>
  				<th colspan="31" class="field-hours-th">Cantidad de hs. Guardia por día</th>
  			</tr>
	      <tr>
	        <th class="day1-th field-hours-th">1</th>
	        <th class="day2-th field-hours-th">2</th>
	        <th class="day3-th field-hours-th">3</th>
	        <th class="day4-th field-hours-th">4</th>
	        <th class="day5-th field-hours-th">5</th>
	        <th class="day6-th field-hours-th">6</th>
	        <th class="day7-th field-hours-th">7</th>
	        <th class="day8-th field-hours-th">8</th>
	        <th class="day9-th field-hours-th">9</th>
	        <th class="day10-th field-hours-th">10</th>
	        <th class="day11-th field-hours-th">11</th>
	        <th class="day12-th field-hours-th">12</th>
	        <th class="day13-th field-hours-th">13</th>
	        <th class="day14-th field-hours-th">14</th>
	        <th class="day15-th field-hours-th">15</th>
	        <th class="day16-th field-hours-th">16</th>
	        <th class="day17-th field-hours-th">17</th>
	        <th class="day18-th field-hours-th">18</th>
	        <th class="day19-th field-hours-th">19</th>
	        <th class="day20-th field-hours-th">20</th>
	        <th class="day21-th field-hours-th">21</th>
	        <th class="day22-th field-hours-th">22</th>
	        <th class="day23-th field-hours-th">23</th>
	        <th class="day24-th field-hours-th">24</th>
	        <th class="day25-th field-hours-th">25</th>
	        <th class="day26-th field-hours-th">26</th>
	        <th class="day27-th field-hours-th">27</th>
	        <th class="day28-th field-hours-th">28</th>
	        <th class="day29-th field-hours-th">29</th>
	        <th class="day30-th field-hours-th">30</th>
	        <th class="day31-th field-hours-th">31</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
				    <%= f.number_field :day1, id: :report_detail_tr_1, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day2, id: :report_detail_tr_2, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day3, id: :report_detail_tr_3, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day4, id: :report_detail_tr_4, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month"%>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day5, id: :report_detail_tr_5, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day6, id: :report_detail_tr_6, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day7, id: :report_detail_tr_7, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day8, id: :report_detail_tr_8, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day9, id: :report_detail_tr_9, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day10, id: :report_detail_tr_10, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day11, id: :report_detail_tr_11, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day12, id: :report_detail_tr_12, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day13, id: :report_detail_tr_13, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day14, id: :report_detail_tr_14, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day15, id: :report_detail_tr_15, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day16, id: :report_detail_tr_16, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day17, id: :report_detail_tr_17, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day18, id: :report_detail_tr_18, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day19, id: :report_detail_tr_19, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day20, id: :report_detail_tr_20, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day21, id: :report_detail_tr_21, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day22, id: :report_detail_tr_22, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day23, id: :report_detail_tr_23, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day24, id: :report_detail_tr_24, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day25, id: :report_detail_tr_25, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day26, id: :report_detail_tr_26, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day27, id: :report_detail_tr_27, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day28, id: :report_detail_tr_28, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day29, id: :report_detail_tr_29, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month day29"  %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day30, id: :report_detail_tr_30, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month day30" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :day31, id: :report_detail_tr_31, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: "day_of_month day31" %>
				  </td>
				</tr>
			</tbody>
  	</table>
	</div>
	<div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="4" class="field-hours-th">Adicionales</th>
  			</tr>
	      <tr>
	        <th class="field-hours-th">TR</th>
	        <th class="field-hours-th">FM</th>
	        <th class="field-hours-th">TNF</th>
	        <th class="field-hours-th">TT</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
				    <%= f.number_field :tr, id: :report_detail_tr_1, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :fm, id: :report_detail_fm, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :tnf, id: :report_detail_tnf, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :tt, id: :report_detail_tt, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				</tr>
  		</tbody>
		</table>

	</div>
	<div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="4" class="field-hours-th">Novedades</th>
  			</tr>
	      <tr>
	        <th class="field-hours-th">Abonar</th>
        	<th class="field-hours-th">Descontar</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
				    <%= f.number_field :hours_to_add, id: :report_detail_hours_to_add, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :hours_to_remove, id: :report_detail_hours_to_remove, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				</tr>
  		</tbody>
		</table>
	</div>
	<!--div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="4" class="field-hours-th">Consultorio</th>
  			</tr>
	      <tr>
	        <th class="field-hours-th-description"><span>Total de horas que el agente realiza en el consultorio</span></th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
    				<%= f.number_field :total_office_hours, id: :report_detail_total_office_hours, :maxlength => "2", :min => "0", :max => "24", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
  				</td>
				</tr>
  		</tbody>
		</table>
	</div-->
	<div class="col-md-12 col-last">
	</div>
</div>

