<div class="nested-fields row">
	
		
	
	<div class="col-md-4">
		<%= link_to_remove_association (fa_icon "window-close", class: "btn-remove"), f %>
		<div class="field" style ="margin-left: 35px;">
			<% if !defined? all_agents %>
				<% all_agents = true %>
			<% end %>

			<% if all_agents %>
				<%= f.hidden_field :belong_service, :value => false %>
				<%= f.collection_select :agent_id, Agent.all, :id, :to_s, {prompt: "Agente Ajeno al Servicio"}, {class: "select2 select-field all_agent"} %>
			<% else %>
				<%= f.hidden_field :belong_service, :value => true%>
				<%= f.collection_select :agent_id, @agents, :id, :to_s, {prompt: "Agente del Servicio"}, {class: "select2 select-field agent"} %>
			<% end %>			
		</div>
	</div>
	
	<!--
	<% if f.object.observation.nil? %>
		<% f.object.build_observation%>
	<% end %>

	<%= f.fields_for :observation, f.object.observation do |fo| %>
	<div class="col-md-4">
		<div class="field">
			<%= fo.collection_select :observation_description_id, ObservationDescription.all,:id, :to_s ,{prompt: "Descripción"}, {class: "select2 select-field"} %>
		</div>
	</div>
	<div class="col-md-1 col-border-right">
		<div class="field">
			<%= fo.number_field :days, :style=>"max-width:100%;", :placeholder => "Días" %>
		</div>
	</div>
	<% end %>
	-->

	<div class="col-md-2">
	</div>
	

	<div class="col-md-2 ">
		Total Guardias:	<%= f.number_field :total_hours, id: :agent_total_hours, :onkeypress => "event.preventDefault();", :placeholder => "0" , :class => "total_hours input-transparent" %>
	</div>
	<div class="col-md-2 ">
		Total U.M.U.: <%= f.number_field :total_hours_umu, id: :agent_total_hours_umu, :onkeypress => "event.preventDefault();", :placeholder => "0" , :class => "total_hours_umu input-transparent" %>
	</div>
	<div class="col-md-2 ">
		Total Hs: <%= f.number_field :total_hours_umu, id: :agent_total_hours_umu, :onkeypress => "event.preventDefault();", :placeholder => "0" , :class => "total_hours_umu input-transparent" %>
	</div>
	<div class="col-md-12">
		<table class='table table-hours'>
  		<thead>
  			<tr>
  				<th colspan="31" class="">Cantidad de hs. Guardia por día</th>
  			</tr>
	      <tr>
	        <th class="day1-th field-hours-th">1</th>
	        <th class="day2-th field-hours-th">2</th>
	        <th class="day3-th field-hours-th">3</th>
	        <th class="day4-th field-hours-th">4</th>
	        <th class="day5-th field-hours-th">5</th>
	        <th class="day6-th field-hours-th">6</th>
	        <th class="day7-th field-hours-th">7</th>
	        <th class="day8-th field-hours-th">8</th>
	        <th class="day9-th field-hours-th">9</th>
	        <th class="day10-th field-hours-th">10</th>
	        <th class="day11-th field-hours-th">11</th>
	        <th class="day12-th field-hours-th">12</th>
	        <th class="day13-th field-hours-th">13</th>
	        <th class="day14-th field-hours-th">14</th>
	        <th class="day15-th field-hours-th">15</th>
	        <th class="day16-th field-hours-th">16</th>
	        <th class="day17-th field-hours-th">17</th>
	        <th class="day18-th field-hours-th">18</th>
	        <th class="day19-th field-hours-th">19</th>
	        <th class="day20-th field-hours-th">20</th>
	        <th class="day21-th field-hours-th">21</th>
	        <th class="day22-th field-hours-th">22</th>
	        <th class="day23-th field-hours-th">23</th>
	        <th class="day24-th field-hours-th">24</th>
	        <th class="day25-th field-hours-th">25</th>
	        <th class="day26-th field-hours-th">26</th>
	        <th class="day27-th field-hours-th">27</th>
	        <th class="day28-th field-hours-th">28</th>
	        <th class="day29-th field-hours-th">29</th>
	        <th class="day30-th field-hours-th">30</th>
	        <th class="day31-th field-hours-th">31</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
						<% if f.object.day1.nil? %>
							<% f.object.build_day1%>
							<% f.object.day1.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day1-hours" %>
						<% if f.object.day1.is_umu? %>
							<% classes = "day-of-month is-umu day1-hours" %>
						<% end %>
						<%= f.fields_for :day1, f.object.day1 do |d1| %>
							<%= d1.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d1.hidden_field :is_umu, :class => "day1-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
						<% if f.object.day2.nil? %>
							<% f.object.build_day2%>
							<% f.object.day2.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day2-hours" %>
						<% if f.object.day2.is_umu? %>
							<% classes = "day-of-month is-umu day2-hours" %>
						<% end %>
						<%= f.fields_for :day2, f.object.day2 do |d2| %>
							<%= d2.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d2.hidden_field :is_umu, :class => "day2-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				  	<% if f.object.day3.nil? %>
							<% f.object.build_day3%>
							<% f.object.day3.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day3-hours" %>
						<% if f.object.day3.is_umu? %>
							<% classes = "day-of-month is-umu day3-hours" %>
						<% end %>
						<%= f.fields_for :day3, f.object.day3 do |d3| %>
							<%= d3.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d3.hidden_field :is_umu, :class => "day3-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day4.nil? %>
							<% f.object.build_day4%>
							<% f.object.day4.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day4-hours" %>
						<% if f.object.day4.is_umu? %>
							<% classes = "day-of-month is-umu day4-hours" %>
						<% end %>
						<%= f.fields_for :day4, f.object.day4 do |d4| %>
							<%= d4.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d4.hidden_field :is_umu, :class => "day4-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day5.nil? %>
							<% f.object.build_day5%>
							<% f.object.day5.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day5-hours" %>
						<% if f.object.day5.is_umu? %>
							<% classes = "day-of-month is-umu day5-hours" %>
						<% end %>
						<%= f.fields_for :day5, f.object.day5 do |d5| %>
							<%= d5.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d5.hidden_field :is_umu, :class => "day5-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day6.nil? %>
							<% f.object.build_day6%>
							<% f.object.day6.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day6-hours" %>
						<% if f.object.day6.is_umu? %>
							<% classes = "day-of-month is-umu day6-hours" %>
						<% end %>
						<%= f.fields_for :day6, f.object.day6 do |d6| %>
							<%= d6.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes %>
							<%= d6.hidden_field :is_umu, :class => "day6-is-umu" %>
						<% end %>
				  </td>
				  <td class="field field-hours">
				   	<% if f.object.day7.nil? %>
							<% f.object.build_day7%>
							<% f.object.day7.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day7-hours" %>
						<% if f.object.day7.is_umu? %>
							<% classes = "day-of-month is-umu day7-hours" %>
						<% end %>
						<%= f.fields_for :day7, f.object.day7 do |d7| %>
							<%= d7.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes %>
							<%= d7.hidden_field :is_umu, :class => "day7-is-umu" %>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day8.nil? %>
							<% f.object.build_day8%>
							<% f.object.day8.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day8-hours" %>
						<% if f.object.day8.is_umu? %>
							<% classes = "day-of-month is-umu day8-hours" %>
						<% end %>
						<%= f.fields_for :day8, f.object.day8 do |d8| %>
							<%= d8.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d8.hidden_field :is_umu, :class => "day8-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
					  <% if f.object.day9.nil? %>
							<% f.object.build_day9%>
							<% f.object.day9.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day9-hours" %>
						<% if f.object.day9.is_umu? %>
							<% classes = "day-of-month is-umu day9-hours" %>
						<% end %>
						<%= f.fields_for :day9, f.object.day9 do |d9| %>
							<%= d9.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d9.hidden_field :is_umu, :class => "day9-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day10.nil? %>
							<% f.object.build_day10%>
							<% f.object.day10.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day10-hours" %>
						<% if f.object.day10.is_umu? %>
							<% classes = "day-of-month is-umu day10-hours" %>
						<% end %>
						<%= f.fields_for :day10, f.object.day10 do |d10| %>
							<%= d10.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d10.hidden_field :is_umu, :class => "day10-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				   <% if f.object.day11.nil? %>
							<% f.object.build_day11%>
							<% f.object.day11.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day11-hours" %>
						<% if f.object.day11.is_umu? %>
							<% classes = "day-of-month is-umu day11-hours" %>
						<% end %>
						<%= f.fields_for :day11, f.object.day11 do |d11| %>
							<%= d11.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d11.hidden_field :is_umu, :class => "day11-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day12.nil? %>
							<% f.object.build_day12%>
							<% f.object.day12.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day12-hours" %>
						<% if f.object.day12.is_umu? %>
							<% classes = "day-of-month is-umu day12-hours" %>
						<% end %>
						<%= f.fields_for :day12, f.object.day12 do |d12| %>
							<%= d12.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d12.hidden_field :is_umu, :class => "day12-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day13.nil? %>
							<% f.object.build_day13%>
							<% f.object.day13.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day13-hours" %>
						<% if f.object.day13.is_umu? %>
							<% classes = "day-of-month is-umu day13-hours" %>
						<% end %>
						<%= f.fields_for :day13, f.object.day13 do |d13| %>
							<%= d13.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d13.hidden_field :is_umu, :class => "day13-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				   <% if f.object.day14.nil? %>
							<% f.object.build_day14%>
							<% f.object.day14.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day14-hours" %>
						<% if f.object.day14.is_umu? %>
							<% classes = "day-of-month is-umu day14-hours" %>
						<% end %>
						<%= f.fields_for :day14, f.object.day14 do |d14| %>
							<%= d14.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d14.hidden_field :is_umu, :class => "day14-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day15.nil? %>
							<% f.object.build_day15%>
							<% f.object.day15.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day15-hours" %>
						<% if f.object.day15.is_umu? %>
							<% classes = "day-of-month is-umu day15-hours" %>
						<% end %>
						<%= f.fields_for :day15, f.object.day15 do |d15| %>
							<%= d15.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d15.hidden_field :is_umu, :class => "day15-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day16.nil? %>
							<% f.object.build_day16%>
							<% f.object.day16.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day16-hours" %>
						<% if f.object.day16.is_umu? %>
							<% classes = "day-of-month is-umu day16-hours" %>
						<% end %>
						<%= f.fields_for :day16, f.object.day16 do |d16| %>
							<%= d16.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d16.hidden_field :is_umu, :class => "day16-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day17.nil? %>
							<% f.object.build_day17%>
							<% f.object.day17.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day17-hours" %>
						<% if f.object.day17.is_umu? %>
							<% classes = "day-of-month is-umu day17-hours" %>
						<% end %>
						<%= f.fields_for :day17, f.object.day17 do |d17| %>
							<%= d17.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d17.hidden_field :is_umu, :class => "day17-is-umu"%>
						<% end %>
				  <td class="field field-hours">
				    <% if f.object.day18.nil? %>
							<% f.object.build_day18%>
							<% f.object.day18.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day18-hours" %>
						<% if f.object.day18.is_umu? %>
							<% classes = "day-of-month is-umu day18-hours" %>
						<% end %>
						<%= f.fields_for :day18, f.object.day18 do |d18| %>
							<%= d18.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d18.hidden_field :is_umu, :class => "day18-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day19.nil? %>
							<% f.object.build_day19%>
							<% f.object.day19.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day19-hours" %>
						<% if f.object.day19.is_umu? %>
							<% classes = "day-of-month is-umu day19-hours" %>
						<% end %>
						<%= f.fields_for :day19, f.object.day19 do |d19| %>
							<%= d19.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d19.hidden_field :is_umu, :class => "day19-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day20.nil? %>
							<% f.object.build_day20%>
							<% f.object.day20.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day20-hours" %>
						<% if f.object.day20.is_umu? %>
							<% classes = "day-of-month is-umu day20-hours" %>
						<% end %>
						<%= f.fields_for :day20, f.object.day20 do |d20| %>
							<%= d20.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", class: classes%>
							<%= d20.hidden_field :is_umu, :class => "day20-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day21.nil? %>
							<% f.object.build_day21%>
							<% f.object.day21.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day21-hours" %>
						<% if f.object.day21.is_umu? %>
							<% classes = "day-of-month is-umu day21-hours" %>
						<% end %>
						<%= f.fields_for :day21, f.object.day21 do |d21| %>
							<%= d21.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d21.hidden_field :is_umu, :class => "day21-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day22.nil? %>
							<% f.object.build_day22%>
							<% f.object.day22.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day22-hours" %>
						<% if f.object.day22.is_umu? %>
							<% classes = "day-of-month is-umu day22-hours" %>
						<% end %>
						<%= f.fields_for :day22, f.object.day22 do |d22| %>
							<%= d22.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d22.hidden_field :is_umu, :class => "day22-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day23.nil? %>
							<% f.object.build_day23%>
							<% f.object.day23.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day23-hours" %>
						<% if f.object.day23.is_umu? %>
							<% classes = "day-of-month is-umu day23-hours" %>
						<% end %>
						<%= f.fields_for :day23, f.object.day23 do |d23| %>
							<%= d23.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d23.hidden_field :is_umu, :class => "day23-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day24.nil? %>
							<% f.object.build_day24%>
							<% f.object.day24.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day24-hours" %>
						<% if f.object.day24.is_umu? %>
							<% classes = "day-of-month is-umu day24-hours" %>
						<% end %>
						<%= f.fields_for :day24, f.object.day24 do |d24| %>
							<%= d24.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d24.hidden_field :is_umu, :class => "day24-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day25.nil? %>
							<% f.object.build_day25%>
							<% f.object.day25.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day25-hours" %>
						<% if f.object.day25.is_umu? %>
							<% classes = "day-of-month is-umu day25-hours" %>
						<% end %>
						<%= f.fields_for :day25, f.object.day25 do |d25| %>
							<%= d25.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d25.hidden_field :is_umu, :class => "day25-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day26.nil? %>
							<% f.object.build_day26%>
							<% f.object.day26.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day26-hours" %>
						<% if f.object.day26.is_umu? %>
							<% classes = "day-of-month is-umu day26-hours" %>
						<% end %>
						<%= f.fields_for :day26, f.object.day26 do |d26| %>
							<%= d26.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d26.hidden_field :is_umu, :class => "day26-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day27.nil? %>
							<% f.object.build_day27%>
							<% f.object.day27.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day27-hours" %>
						<% if f.object.day27.is_umu? %>
							<% classes = "day-of-month is-umu day27-hours" %>
						<% end %>
						<%= f.fields_for :day27, f.object.day27 do |d27| %>
							<%= d27.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d27.hidden_field :is_umu, :class => "day27-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day28.nil? %>
							<% f.object.build_day28%>
							<% f.object.day28.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day28-hours" %>
						<% if f.object.day28.is_umu? %>
							<% classes = "day-of-month is-umu day28-hours" %>
						<% end %>
						<%= f.fields_for :day28, f.object.day28 do |d28| %>
							<%= d28.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d28.hidden_field :is_umu, :class => "day28-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day29.nil? %>
							<% f.object.build_day29%>
							<% f.object.day29.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day29-hours" %>
						<% if f.object.day29.is_umu? %>
							<% classes = "day-of-month is-umu day29-hours" %>
						<% end %>
						<%= f.fields_for :day29, f.object.day29 do |d29| %>
							<%= d29.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d29.hidden_field :is_umu, :class => "day29-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day30.nil? %>
							<% f.object.build_day30%>
							<% f.object.day30.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day30-hours" %>
						<% if f.object.day30.is_umu? %>
							<% classes = "day-of-month is-umu day30-hours" %>
						<% end %>
						<%= f.fields_for :day30, f.object.day30 do |d30| %>
							<%= d30.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d30.hidden_field :is_umu, :class => "day30-is-umu"%>
						<% end %>
				  </td>
				  <td class="field field-hours">
				    <% if f.object.day31.nil? %>
							<% f.object.build_day31%>
							<% f.object.day31.is_umu = false%>
						<% end %>
						<% classes = "day-of-month day31-hours" %>
						<% if f.object.day31.is_umu? %>
							<% classes = "day-of-month is-umu day31-hours" %>
						<% end %>
						<%= f.fields_for :day31, f.object.day31 do |d31| %>
							<%= d31.number_field :hours, :maxlength => "2", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)", :class => classes%>
							<%= d31.hidden_field :is_umu, :class => "day31-is-umu"%>
						<% end %>
				  </td>
				</tr>
			</tbody>
  	</table>
	</div>
	<!--
	<div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="5" class="field-hours-th">Adicionales</th>
  			</tr>
	      <tr>
	        <th colspan="2" class="field-hours-th" style="font-size: 0.7rem;">Turno Rotativo</th>
	        <th rowspan="2" class="field-hours-th" style="font-size: 0.7rem;">Franco Movil</th>
	        <th rowspan="2" class="field-hours-th" style="font-size: 0.7rem;">Turno Noct. Fijo</th>
	        <th rowspan="2" class="field-hours-th" style="font-size: 0.7rem;">Tareas en Terreno</th>
	      </tr>
	      <tr>
	      	<th class="field-hours-th" style="font-size: 0.6rem;">Dias</th>
	      	<th class="field-hours-th" style="font-size: 0.6rem;">¿Rotación Completa?</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
	  				<% if f.object.rotative_turn.nil? %>
							<% f.object.build_rotative_turn%>
						<% end %>
						<%= f.fields_for :rotative_turn, f.object.rotative_turn do |rt| %>
				    	<%= rt.number_field :days, :maxlength => "3", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
    			<td class="field field-hours">
				    	<%= rt.check_box :is_complete%>
				    <% end %>
				  </td>
				  <td class="field field-hours">
				    <%= f.check_box :fm%>
				  </td>
				  <td class="field field-hours">
				    <%= f.check_box :tnf%>
				  </td>
				  <td class="field field-hours">
				    <%= f.check_box :tt%>
				  </td>
				</tr>
  		</tbody>
		</table>

	</div>
	<!--div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="4" class="field-hours-th">Novedades</th>
  			</tr>
	      <tr>
	        <th class="field-hours-th">Abonar</th>
        	<th class="field-hours-th">Descontar</th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
				    <%= f.number_field :hours_to_add, id: :report_detail_hours_to_add, :maxlength => "3", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				  <td class="field field-hours">
				    <%= f.number_field :hours_to_remove, id: :report_detail_hours_to_remove, :maxlength => "3", :min => "0", :max => "48", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
				  </td>
				</tr>
  		</tbody>
		</table>
	</div-->
	<!--div class="col-md-4">
		<table class='table'>
  		<thead>
  			<tr>
  				<th colspan="4" class="field-hours-th">Consultorio</th>
  			</tr>
	      <tr>
	        <th class="field-hours-th-description"><span>Total de horas que el agente realiza en el consultorio</span></th>
	      </tr>
  		</thead>
  		<tbody>
  			<tr>
	  			<td class="field field-hours">
    				<%= f.number_field :total_office_hours, id: :report_detail_total_office_hours, :maxlength => "3", :min => "0", :max => "124", :onkeypress => "return isNumeric(event)", :oninput => "maxLengthCheck(this)" %>
  				</td>
				</tr>
  		</tbody>
		</table>
	</div-->
	<div class="col-md-12 col-last">
	</div>
</div>

<script type="text/javascript">
	$(".day-of-month").keyup(function(){ 
    total = 0
    total_umu = 0
    $(this).closest('.nested-fields').find('.day-of-month').each(function(){
    	if ($(this).val() != ""){
      	if ($(this).hasClass("is-umu")){
      		total_umu = total_umu + parseInt($(this).val());	
      	}else{
      		total = total + parseInt($(this).val());	
      	}

        
      }
    });
    $(this).closest('.nested-fields').find('.total_hours').val(total);
    $(this).closest('.nested-fields').find('.total_hours_umu').val(total_umu);
  });

  function calculate_totals() {
    alert(blah);
	}

  $(".field-hours-th").click(function(){
  	var class_hours = ".day" + $(this).text() + "-hours";
  	var class_umu = ".day" + $(this).text() + "-is-umu";
  	umu = $(this).closest('table').find(class_umu);
  	hours = $(this).closest('table').find(class_hours);
  	umu_val = umu.val();
  	if (umu_val == 'true'){
			umu.attr("value", false);
			hours.removeClass("is-umu");
		}else{
			umu.attr("value", true);
			hours.addClass("is-umu");
		}


		total = 0
    total_umu = 0
    $(this).closest('.nested-fields').find('.day-of-month').each(function(){
    	if ($(this).val() != ""){
      	if ($(this).hasClass("is-umu")){
      		total_umu = total_umu + parseInt($(this).val());	
      	}else{
      		total = total + parseInt($(this).val());	
      	}

        
      }
    });
    $(this).closest('.nested-fields').find('.total_hours').val(total);
    $(this).closest('.nested-fields').find('.total_hours_umu').val(total_umu);
  });

  /*$(".field-hours-th").click(function(){
  	console.log ("Click TH");
		var class_hours = ".day" + $(this).text() + "-hours";
		var class_umu = ".day" + $(this).text() + "-is-umu";
		console.log (class_hours);
		umu_val = $(class_umu).val();


		if (umu_val == 'true'){
			$(class_umu).attr("value", false);
			$(class_hours).removeClass("is-umu");
		}else{
			$(class_umu).attr("value", true);
			$(class_hours).addClass("is-umu");
		}
	});*/



</script>