<p id="notice"><%= notice %></p>

<h1>Reports</h1>

<table class="datatable">
  <thead>
    <tr>
      <th>Año</th>
      <th>Mes</th>
      <th>Hospital</th>
      <th>Servicio</th>
      <th>Usuario</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.year %></td>
        <td><%= report.month %></td>
        <td><%= report.service_of_dependence.dependence %></td>
        <td><%= report.service_of_dependence.service %></td>
        <td><%= report.user %></td>
        <td>
          <%= link_to (fa_icon "eye"), report%>
          <%= link_to (fa_icon "pencil-square-o"), edit_report_path(report)%>
          <%= link_to (fa_icon "trash-o"), report, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Report', new_report_path %>
