<h1>Reportes</h1>

<table class="datatable">
  <thead>
    <tr>
      <th>Tipo</th>
      <th>Año/Mes</th>
      <th>Hospital</th>
      <th>Servicio</th>
      <th>Total Hs.</th>
      <th>Estado.</th>
      <th>Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @reports.each do |report| %>
      <tr>
        <td><%= report.report_type %></td>
        <td><%= report.year %> / <%= report.month %></td>
        <td><%= report.service_of_dependence.dependence %></td>
        <td><%= report.service_of_dependence.service %></td>
        <td><%= report.total_hs.to_i + report.total_hs_umu.to_i%></td>
        <td><%= report.estado%></td>
        <td>
          <% if current_user.directora? or  current_user.admin? %>
            <% if request.path.include? "Aprob-Director-Area" or request.path.include? "Aprob-Director-Hosp"%>
              <% if report.estado === "Aprob Director Area" %>
                <a href="/reports/check_director/<%= report.id%>"><i class="fa fa-close"></i></a>
              <% else %>    
                <a href="/reports/check_director/<%= report.id%>"><i class="fa fa-check"></i></a>
              <% end %>      
            <% end %>    
          <% end %>    
          <% if current_user.director? or  current_user.admin? %>
            <% if request.path.include? "Validado" or request.path.include? "Aprob-Director-Hosp"%>
              <% if report.estado === "Aprob Director Hosp" %>
                <a href="/reports/check_director/<%= report.id%>"><i class="fa fa-close"></i></a>
              <% else %>    
                <a href="/reports/check_director/<%= report.id%>"><i class="fa fa-check"></i></a>
              <% end %>      
            <% end %>    
          <% end %>    
          <%= link_to (fa_icon "eye"), report%>
          <%= link_to (fa_icon "pencil-square-o"), edit_report_path(report)%>
          


          <% if current_user.planification? or current_user.admin? or current_user.hospital?%>
            <%= link_to (fa_icon "trash-o"), report, method: :delete, data: { confirm: '¿Seguro desea eliminar este registro?' }%>
          <% end %>    
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Reporte G/Activas', '/reports/new_active', class: 'btn btn-primary' %>
<%= link_to 'Reporte G/Pasivas', '/reports/new_pasive', class: 'btn btn-primary' %>
<%= link_to 'Reporte Hs. Extra', '/reports/new_extra_hours', class: 'btn btn-primary' %>
<%= link_to 'Reporte Mens. P/G', '/reports/new_monthly_guard', class: 'btn btn-primary' %>

<br><br>
<%= link_to 'Atrás', root_path, class: 'btn btn-danger', style: "min-width: 155px;" %>
