<h1>Reporte <%= @report.report_type %></h1>
<div class="row">
	<div class="col-sm-12">
		<p><strong>Periodo: </strong><%= @report.year %> / <%= @report.month %></p>
	</div>
	<div class="col-sm-12">
		<p><strong>Servicio: </strong><%= @report.service_of_dependence.service %></p>
	</div>
	<div class="col-sm-12">
		<p><strong>Usuario: </strong><%= @report.user%></p>
	</div>
	<div class="col-sm-12">
		<p><strong>ultima Modificación: </strong><%= @report.updated_at.strftime("%d-%m-%y")%></p>
	</div>

	<div class="col-sm-12">
		<table class="table">
			<thead>
				<tr>
					<th rowspan="2">Agente</th>
					<th rowspan="2">¿Del Servicio?</th>
  				<th colspan="3">Horas Guarida</th>
  			</tr>
		    <tr>
		    	<th>Activas</th>
		    	<th>U.M.U.</th>
		    	<th>Total</th>
		    </tr>
 		 	</thead>
			<tbody>
				<% @report_details.each do |rd| %>
	      <tr>
	        <td><%= rd.agent%></td>
	        <td><%= rd.belong_service%></td>
	        <td><%= rd.total_hours_gs%></td>
	        <td><%= rd.total_hours_umu%></td>
	        <td><%= rd.total_hours%></td>
	      </tr>
	    	<% end %>
			</tbody>
		</table>
	</div>



</div>
<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', reports_path %>
