<!DOCTYPE html>
<html>
  <head>
    <title>Guardias Salud</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= custom_bootstrap_flash %>
		<%= csrf_meta_tags %>
		<link rel="shortcut icon" href="http://www.chubut.gov.ar/favicon.ico" type="image/vnd.microsoft.icon">
		<link href="https://fonts.googleapis.com/css?family=Muli:400,300" rel="stylesheet" type="text/css">
		
  </head>

  <body style="padding-bottom: 15px;" class="<%= controller_name %> <%= action_name %>">
		<% unless flash.empty? %>
		  <script type="text/javascript">
		  	<% flash.each do |f| %>
			    <% type = f[0].to_s.gsub('alert', 'error').gsub('notice', 'info') %>
					toastr['<%= type %>']('<%= f[1] %>');
			 	<% end %>
		  </script>
		<% end %>
		<div class="container">
			<%= render "layouts/header"%>
			<%= render "layouts/navbar"%>
			<%= yield %>
		</div>
  </body>
</html>